<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102183677978-pojdpjhkqm2rs6b2ksv8esur9e3n1mff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102183677978-pojdpjhkqm2rs6b2ksv8esur9e3n1mff</string>
	<key>API_KEY</key>
	<string>AIzaSyAOtt7WPF_80waCQzv3_7J83WyXwkhRr7c</string>
	<key>GCM_SENDER_ID</key>
	<string>102183677978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MC2.Muse</string>
	<key>PROJECT_ID</key>
	<string>muse-881ca</string>
	<key>STORAGE_BUCKET</key>
	<string>muse-881ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102183677978:ios:21c09c6bb8aa63caa661a3</string>
</dict>
</plist>