<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33642655439-80v4c0724ekh4s6rvr73vu3vrc8mvvvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33642655439-80v4c0724ekh4s6rvr73vu3vrc8mvvvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCcZZZFMVqsf768fkuIoWFwrapTWTZhEU4</string>
	<key>GCM_SENDER_ID</key>
	<string>33642655439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MC2.Muse</string>
	<key>PROJECT_ID</key>
	<string>ada-muse</string>
	<key>STORAGE_BUCKET</key>
	<string>ada-muse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33642655439:ios:c297e601b9afb6be8b51ba</string>
</dict>
</plist>